/*
 * Globals
 */

:root {
  /* This should automatically be applied from the Bootstrap CSS, but for some reason it isn't */
  --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
  min-width: 20em;
}


/**
 * Animation stuff
 */
* {
  transition: 0.35s ease, color 0.05s ease, background-color 0.2s ease;
  /* border: 1px solid red; /* Debug overflow */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.move-fade-in {
  opacity: 0;
  transform: translateY(-3em);
  animation: moveFadeIn 0.2s ease-out forwards;
}

@keyframes moveFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(0.75em);
  }
}

@keyframes barrelRoll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*
 * Root style, logo etc
 */
.dark-mode-toggle {
  font-size: 1.5em;
}

img#veralogo {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 15em;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.vera-anim {
  animation: float 2s ease-in-out infinite;
  animation-play-state: paused;
  transition: animation-play-state 1s ease-in-out;
}

.vera-anim:hover {
  animation-play-state: running;
}

.vera-roll {
  animation: barrelRoll 1s ease-in-out forwards;
}

.verityLoadingPlaceholder {
  background-color: #cccccc;
  color: #cccccc;
}

/*
 * Navigation
 */
#leftnavCollapseToggler {
  display: block;
  position: relative;
  font-size: 150%;
  bottom: 3em;
  margin-bottom: -3em;
  background-repeat: no-repeat;
  z-index: 2;
}

#leftnav {
  display: sticky;
  top: 0;
}

.nav-item.active {
  font-weight: bold;
}

/* Identity row */
div.verityMyProfilePicArea {
  height: 6ex;
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 0.2em;
}
img.verityMyProfilePic {
  height: 100%;
}
div.verityMyIdentityInfoArea {
  padding-left: 0;
  min-width: 8em;
}
div.verityMyIdentityInfoArea a {
  font-size: 80%;
}

/* Online/offline row */
.greenDot {
  position: relative;
  top: 0.25ex;
  display: inline-block;
  width: 2ex;
  height: 2ex;
  background: #00FF00;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.redDot {
  position: relative;
  top: 0.25ex;
  display: inline-block;
  width: 2ex;
  height: 2ex;
  background: #FF0000;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.verityOnlineStatus {
  color: black;
  text-decoration: none;
}

/*
 * General styles for main view area
 */
.content-wrapper {
  padding: 0.5em;
}


/*
 * Shared stuff
 */
.veritySmallButton {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 65%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}


/*
 * Post view
 */
ul.verityPostList {
  list-style-type: none;
  padding-left: 0;
}

ul.replyposts {
  list-style-type: none;
}

div.verityPostHeader {
  display: flex;
  align-items: center;
}

img.verityPostProfilePic {
  height: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
}

textarea.verityPostInput {
  /* Our post input text areas auto-resize using JS, so no overflow and no
     manual resizing please. */
  height: 0px;
  overflow-y: hidden;
  resize: none;
}

li.verityPost {
  margin-top: 1em;
  margin-bottom: 1em;
}

.verityPostCharCountBarContainer {
  transition: none;
  width: 100%;
  /* Will be overriden on user input */
  display: none;
}
.verityPostRemainingChars {
  transition: none;
  flex-grow: 1;
  flex-direction: row-reverse;
  color: white;
  font-weight: bold;
  padding-right: 1em;
}
.verityPostCharCountBar {
  transition: none;
}

.veritySubscribeButton {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 65%;
  margin-left: 1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/*
 * Peer view
 */
ul.verityPeerList {
  list-style-type: none;
  padding-left: 0;
}

li.verityPeer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.verityPeerData {
  overflow-wrap: anywhere;
}


/*
 * Cube explorer
 */
ul.verityCubeList {
  list-style-type: none;
  padding-left: 0;
}
table.veritySchematicCube {
  border: none;
}
.verityCubeSummary {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.veritySchematicFieldDetails td {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: wrap;
  word-break: break-all;
}



/* Identity edit form */
img.verityEditIdentityAvatar {
  height: 12ex;
}